.project-page__container {
    align-items: flex-start;

    width: 100%;
    min-height: 100vh;

    padding: 7rem 2rem 4rem;

    opacity: 0;

    .project-page__images {
        flex: 1.3;

        .project-page__image-slider {
            position: relative;

            width: 100%;

            img {
                object-fit: contain;
                cursor: pointer;
            }

            .project-page__image-slider_toggler {
                position: absolute;
                top: 48%;

                width:3vw;

                cursor: pointer;

                transition: transform 0.2s ease;


                &:hover {
                    transform: scale(1.2)
                }

                img {
                    width: 100%;
                }
                

                @media screen and (max-width: 900px) {
                    width: 4vw;   
                }

                @media screen and (max-width: 600px) {
                    width: 5vw;   
                }
            }

            .project-page__image-slider_next {
                right:35px;

                @media screen and (max-width: 600px) {
                    right: 25px; 
                }
            }

            .project-page__image-slider_prev {
                left:35px;

                @media screen and (max-width: 600px) {
                    left: 25px; 
                }
            }

            .project-page__image-slider_navigator {
                position: absolute;
                bottom: 20px;

                display: flex;
                align-items: center;
                justify-content: center;
                width: inherit;

                @media screen and (max-width: 700px) {
                    bottom: -25px;   
                }

                .project-page__image-slider_navigate {
                    width:15px;
                    height: 15px;
                    border-radius: 50%;
                    margin: 0 5px;

                    cursor: pointer;

                    transition: transform 0.2s ease;


                    &:hover {
                        transform: scale(1.5)
                    }

                    @media screen and (max-width: 600px) {
                        width:12px;
                        height: 12px;   
                    }

                    @media screen and (max-width: 450px) {
                        width:10px;
                        height: 10px;   
                    }
                }

                .navigate_active {
                    background-color: var(--purple-color)!important;
                }
            }
        }

        @media screen and (max-width: 900px) {
            flex: 0;

            padding-bottom: 40px;
        }

        @media screen and (max-width: 700px) {
            padding-bottom: 50px;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    .project-page__details {
        flex: 0.7;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: flex-start;
        flex-direction: column;

        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 1px;

        margin-left: 20px;
        padding-left: 10px;

        border-left: 1px solid var(--third-color);

        .project-page__details-description {
            padding-bottom: 10px;
            line-height: 20px;

            word-break: break-word;
        }

        .project-page__details-item {
            display: flex;
            justify-content: center;

            padding-bottom: 5px;

            .project-page__details-title {
                margin-right: 5px;
            }

            .project-page__details-content {
                font-style: italic;
                word-break: break-word;

                a {
                    border-bottom: 1px solid var(--secondary-color);
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 900px) {
            flex: 0;

            margin-left: 0;
            padding-left: 0;

            border-left: none;
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

// Project image modal
.project-page__images-modal {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    width: 100%;
    height: 100vh;

    opacity: 0;

    .modal__overlay {
        opacity: 0.5;
        background: var(--primary-color);
        width: 100%;
        height: 100%;
    }

    .modal {
        position: absolute;
        max-width: 1300px;
        width: 70%;
      

        @media screen and (max-width: 1000px) {
            width: 80%;
           
        }

        @media screen and (max-width: 900px) {
            width: 95%; 
        }
    
        .project-page__images-image {
            width: 100%;
        
        }
    }

}

.le-nuvole, .recipe-cookbook, .kanpai, .first-portfolio, .howdy {
    background-color: #3e3232;

    @media screen and (max-width: 700px) {
        background-color: var(--secondary-color);
    }
}
.le-nuvole-toggler, .recipe-cookbook-toggler, .kanpai-toggler, .first-portfolio-toggler, .howdy-toggler {
    filter: invert(10%) sepia(6%) saturate(2979%) hue-rotate(323deg) brightness(89%) contrast(71%);
}
.ramen-locator, .crypthome {
    background-color: var(--secondary-color);
}
.ramen-locator-toggler, .crypthome-toggler {
    filter: invert(80%) sepia(1%) saturate(117%) hue-rotate(315deg) brightness(103%) contrast(92%);
}
