.reviews__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width:100%;

    padding: 2rem 10vw 0;

    @media screen and (max-width:620px) {
        padding: 0 12vw 0;
    }
}

.review__container {
    position: relative;

    flex-direction: column;
    
    width: 30vw;
    word-break: break-word;

    p {
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 1px;

        @media screen and (max-width: 900px) {
            font-size: 1.7vw;
        }

        @media screen and (max-width: 460px) {
            font-size: 2vw;
        }
    }

    .review__text {
        align-self: flex-start;
    }

    .review__signature {
        align-self: flex-end;
        margin-top: 10px;
        font-style: italic;

        span {
            opacity: 0.5;
            font-style: normal;
        }
    }

    .review__apostrophe {
        position: absolute;

        width: 3vw;
        height: 3vw;
        opacity: 0.2;
    }

    .review__apostrophe-left {
        top:-20px;
        left:-20px;

        @media screen and (max-width:800px) {
            top:-12px;
            left:-12px;
        }

        @media screen and (max-width:600px) {
            top:-8px;
            left:-8px;
        }
    }

    .review__apostrophe-right {
        bottom:-20px;
        right:-20px;

        @media screen and (max-width:800px) {
            bottom:-12px;
            right:-12px;
        }

        @media screen and (max-width:600px) {
            bottom:-8px;
            right:-8px;
        }

        @media screen and (max-width:450px) {
            bottom:-4px;
        }
    }
}

.align-end {
    align-self: flex-end;
}